<div class="container-fluid">
  <div class="row">
    <div class="col-xl-1">
      <canvas id="HitAngleHexCanvas" width="1000" height="700" class='img-responsive' style="border: 1px solid black;"></canvas>
    </div>    
  </div>
  <div class="row">
    <div class="col-xl-2">
      <div class="panel panel-default">
        <div class="panel-heading">Hit Angle</div>
        <div class="panel-body">
          <p>The relative position and orientation of the firing ship and the the 
          target determines the “hit angle”. Damage is dealt to the corresponding
          side of the target ship blueprint. For simplification, the hit angle has
          for possible values : front, rear, left and right. This actually simplifies
          the specification rather than using six.</p>          
        </div>
      </div>
    </div>
  </div>
</div>
