<div class="container">

  <canvas id="MovementHexCanvas" width="1000" height="700" class='img-responsive' style="border: 1px solid black;"></canvas>

  <div class="row">

    <div class="col-md-2">
      <h3>Manoeuvrability:</h3>
      <input type="number" min="0" max="3" ng-model="manoeuvrability" placeholder="Manoeuvrability" >
    </div>

    <div class="col-md-2">
      <h3>Max speed:</h3>
      <input type="number" min="0" max="3" ng-model="maxSpeed" placeholder="Max speed" >
    </div>


</div>
